<template>
  <tr class="">
    <td>    
     {{ item.date }}
    <br>
    </td>
    <td>
      $ {{ item.expense }}
    </td>
    <td style="text-align:center">
        <i @click="emitDelete"
       class="red close circle icon"></i>
    </td>
  </tr>
</template>

<script>
export default {
  name: "ExpenseItem",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
    }
  },
  methods: {
    emitDelete: function(){
      this.$emit('deleteExpense', this.item.id);
    }
  }
}
</script>

<style scoped>
.icon{
  cursor: pointer;
}
</style>
