<template>
  <div class="ui segment chart-container">
  <div ref="chart" class="chart"></div>    
  </div>

</template>

<script>
  import echarts from "echarts/lib/echarts";
  import "echarts/lib/chart/line";
  import "echarts/lib/chart/bar";
  import "echarts/lib/component/dataset";
  import "echarts/lib/component/dataZoom";
  import "echarts/lib/component/tooltip";


  export default {
    name: "ExpenseCharts",
    data() {
      return {
        option: {
          legend: {},
          tooltip: {},
          dataset: {
              source: [
                this.expenseList
              ]
          },
          xAxis: {type: 'time', name: "Time"},
          yAxis: {name: "Expense ($)"},
          tooltip: {
            trigger: 'axis',
          },
          grid:{
            bottom: 100
          },
          dataZoom: [
            {
              type: "slider",
              xAxisIndex: 0
            }
          ],
          series: [
              {type: 'line', encode: {x: "date", y: "expense"} },
          ]
      }
      }
    },
    props: {
      expenseList:{default: ()=>[], type: Array}
    },
    watch:{
      expenseList(newVal, oldVal){
        this.option.dataset.source = this.expenseList;
        this.$options.$_chart.setOption(this.option);
      }
    },
    mounted(){
      this.$options.$_initChart(this.$refs.chart, this.option);
    },
    methods: {
    },
    $_chart: null,
    $_initChart(chartElement, option){
        this.$_chart = echarts.init(chartElement, "light");
        this.$_chart.setOption(option);
    }
  }
</script>

<style scoped>
  .chart-container{
    height: 100%;
  }
  .chart{
    height: 100%;
  }
</style>
