<template>
  <div class="expense-list">
    <expense-input
      @addExpense="addExpense">
    </expense-input>
    <div class="expense-item-wrapper">
      <table class="ui selectable celled table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Expense</th>
            <th></th>
          </tr>
        </thead>
        <expense-item
          v-for="item in expenseList"
          :key="item.id"
          :item="item"
          @deleteExpense="deleteExpense">
        </expense-item>
      </table>
    </div>
  </div>
</template>

<script>
  import ExpenseItem from './ExpenseItem'
  import ExpenseInput from './ExpenseInput'
  export default {
    name: "ExpenseList",
    components: {
      ExpenseItem,
      ExpenseInput
    },
    props:{
      expenseList: { type: Array, default: ()=>[] },
      addExpense: { type: Function, required: true },
      deleteExpense: {type: Function, required: true }
    }
  }
</script>

<style scoped>
  .expense-list{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
  }
  .expense-item-wrapper{
    max-height: 100%;
    overflow-y: auto;
  }
</style>
