<template>
  <div id="app" class="ui padded grid stackable">
    <div class="ui row">
      <div class="thirteen wide column">
        <expense-charts :expense-list="sortedExpenseList"></expense-charts>
      </div>

      <div class="three wide column expense-list">
        <expense-list 
          :add-expense="addExpense" 
          :delete-expense="deleteExpense" 
          :expense-list="expenseList">
        </expense-list>
      </div>
    </div>
  </div>
</template>

<script>
import ExpenseList from './components/ExpenseList'
import ExpenseCharts from './components/ExpenseCharts'

export default {
  name: 'App',
  components: {
    ExpenseList,
    ExpenseCharts
  },
  data() {
    return {
      expenseList: [
      ],
    }
  },
  computed:{
    sortedExpenseList(){
      const summedExpenseList = [...this.expenseList].reduce((arr, item) => {
        let sameDateExpense = arr.find(x => x.date === item.date);
        if(!!sameDateExpense) sameDateExpense.expense += item.expense;
        else arr.push({...item});
        return arr;        
      },[]);

      return summedExpenseList.sort((a,b) => {
        const aDateArray = a.date.split("-").map(x => parseInt(x));
        const bDateArray = b.date.split("-").map(x => parseInt(x));

        for(let i = 0; i < aDateArray.length; i++){
          if(aDateArray[i] < bDateArray[i]) return -1;
          if(aDateArray[i] > bDateArray[i]) return 1;
        }
        return 0;
      })
    }
  },
  methods:{
    addExpense(payload) {
      this.expenseList.push(payload);
    },
    deleteExpense(id) {
      let index = this.expenseList.map(function(item) {
        return item.id
      }).indexOf(id);

      this.expenseList.splice(index, 1);
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    width: 100%;
    height: 100%;
  }




</style>
